 .about {
  display: flex;
  justify-content: center;
}

.about-img{
  /* display: block; */
  position: relative;
  padding: 50px;
}

.about-img::before{
  content: "";
  position: absolute;
  width: 200px;
  height: 150px;
  left: -100px;
  top: -20px;
  border-radius: 30px 70px 50px 100px;
  background-color: #7dd321d3;
  z-index: -1;
  box-sizing: border-box;
  }
.abt-image{
  display: block;
  max-width: auto;
}

.about-us{
  max-width: 50%;
}

.progress-bars{
  display: flex;
  gap: 50px;
  
}

@media only screen and (max-width: 1024px) {
  .about-img::after {
    display: none;
  }

}

@media screen and (max-width: 768px){
  .about{
    flex-direction: column; 
    margin: 20px;
  }
  .about-img::after{
    display: none;
  }
  .about-img::before{
    width: 100px;
    height: 100px;
    left: -50px;
    top: -10px;
  }
  .about-img{
    padding: 20px;
  }
  .abt-image{
    width: 100%;
  }
  .about-us{
    max-width: 100%;
  }
  .progress-bars{
    flex-direction: column;
    gap: 20px;

  }
}